<template>
  <div class="header">
    <div class="title">LOM Quiz</div>
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped lang="scss">
.header {
  background: #0c3b40;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    color: white;
    text-transform: uppercase;
  }
}
</style>