<template>
  <div class="home">
    <h1>LOM QUIZ</h1>
    <h2>Last chance for humanity</h2>
    <ul>
      <li>
        The program must ask the user at least ten questions with only one correct answer.
      </li>
      <li>
        The questions can be of any kind: a calculation, choose one from multiple choices, text answer, or whatever. But
        always with a single correct answer.<br>For example:
        <ul>
          <li><i>"What is the current year?"</i> with a number input.</li>
          <li><i>"12 / 4 ="</i> and a selector with options 4, 3, 5.</li>
          <li><i>"What is the surname of the leading creator of relativity theory called Albert?"</i> with a text
            inputfor type Einstein
          </li>
        </ul>
      </li>
      <li>
        The user will have only one chance to answer each question.
      </li>
      <li>
        There must be feedback for the user's answer, and if it's wrong, the program must display the correct answer.
      </li>
      <li>
        The program must track user progress to display the answered questions.
      </li>
      <li>
        When the user answers all the questions, the program must display the result of the tests giving him a value of
        his worthiness.
      </li>
    </ul>
    <button class="start_game" @click="startGame">Start game</button>
  </div>
</template>

<script>
export default {
  name: "Home",
  props: {
    startGame: Function,
  }
}
</script>

<style scoped lang="scss">
.home {
  height: 100vh;
  background: linear-gradient(0deg, rgba(46, 123, 133, 1) 0%, rgba(12, 59, 64, 1) 100%);
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  h1, h2 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px 0 20px;
  }

  ul {
    li {
      color: white;
      margin: 0;
      padding-bottom: 7px;
    }
  }

  button.start_game {
    color: white;
    font-size: 25px;
    border: none;
    padding: 8px 15px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    background: #73363b;
  }
}
</style>