<template>
  <div class="question">
    <div class="card">
      <div class="title_container">
        <span class="title">Pregunta {{ question_counter + 1 }}</span>
      </div>
      <div class="question_container">
        <div class="text">
          {{ questionToShow }}
        </div>
        <div class="answer">
          <input type="text" placeholder="Tu respuesta..." v-model="typed_text"
                 :disabled="correct_answer || incorrect_answer">
          <button class="check" @click="checkQuestionAnswer" v-if="!correct_answer && !incorrect_answer">Comprobar
          </button>
        </div>
        <div class="response">
          <span class="correct" v-if="correct_answer">¡Respuesta correcta!</span>
          <span class="incorrect" v-if="incorrect_answer">¡Error! La respuesta correcta era <strong>{{ answerOk }}</strong></span>
          <button class="next_question"
                  @click="nextQuestion"
                  v-if="(correct_answer || incorrect_answer) && !last_question">Siguiente pregunta
          </button>
          <button class="see_results" v-if="last_question && (correct_answer || incorrect_answer)" @click="showFinal">
            Ver resultados
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {useStore} from 'vuex';
import {ref, computed} from "vue";

export default {
  name: "Question",
  props: {showFinal: Function},
  setup() {
    const store = useStore()

    const question_counter = computed(() => store.state.question_counter)
    let actualQuestion = computed(() => store.state.questions[question_counter.value])
    let questionToShow = computed(() => actualQuestion.value.question)
    let answerOk = computed(() => actualQuestion.value.answer)
    let typed_text = ref('')
    let last_question = ref(false)
    let correct_answer = ref(false)
    let incorrect_answer = ref(false)

    const checkQuestionAnswer = () => {
      console.log('respuesta escrita ->', typed_text.value)
      console.log('respuesta correcta ->', answerOk.value)
      if (typed_text.value.toLowerCase() === answerOk.value.toLowerCase()) {
        correct_answer.value = true
      } else {
        incorrect_answer.value = true
      }
      store.commit('setUserAnswer', typed_text.value)
    }

    const nextQuestion = () => {
      store.commit('nextQuestion')
      typed_text.value = ''
      correct_answer.value = false
      incorrect_answer.value = false
      if ((question_counter.value) - 2 == (store.state.questions.length - 3)) {
        last_question.value = true
      }
    }

    return {
      checkQuestionAnswer,
      nextQuestion,
      typed_text,
      questionToShow,
      correct_answer,
      incorrect_answer,
      last_question,
      question_counter,
      answerOk
    }
  }
}
</script>

<style scoped lang="scss">
.question {
  height: calc(100vh - 140px);
  background: #d6debc;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
  }

  .card {
    background: #a9bf5a;
    max-width: 400px;
    padding: 40px 30px 30px;
    position: relative;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);


    .title_container {
      position: absolute;
      top: -10px;

      .title {
        font-size: 18px;
        text-transform: uppercase;
        background: #0c3b40;
        padding: 7px 15px;
        border-radius: 100px;
        color: white;
      }
    }

    button {
      color: white;
      font-size: 15px;
      border: none;
      padding: 8px 15px;
      width: auto;
      margin: 0 auto;
      border-radius: 10px;

      &.check {
        background: #73363b;
      }

      &.next_question {
        background: #0c3b40;
      }

      &.see_results {
        background: #73363b;
      }
    }

    .question_container {
      padding: 0 15px;

      .text {
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
      }

      .answer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        //margin-bottom: 20px;

        input {
          background-image: none;
          background-color: transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border: 2px solid #73363b;
          border-radius: 10px;
          padding: 10px;
          color: #73363b;
          font-size: 15px;
          margin-bottom: 10px;
          text-align: center;

          &:focus {
            border: 2px solid #b4888b;
            outline: none;
          }
        }
      }

      .response {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        span {
          text-align: center;
          font-size: 20px;
          margin-bottom: 10px;

          &.correct {
            color: #0f9d58;
          }

          &.incorrect {
            color: #db4437;
          }
        }
      }
    }
  }
}
</style>