<template>
  <div class="results_footer">
    <div class="result_ball" v-for="(question, index) in questions" :class="{correct: question.is_good === true, incorrect: question.is_good === false }">
      <div class="number">{{ index + 1 }}</div>
    </div>
  </div>
</template>

<script>
import {useStore} from "vuex";
import {computed} from "vue";

export default {
  name: "ResultsFooter",
  setup() {
    const store = useStore()
    let questions = computed(() => store.state.questions)
    return {questions}
  }
}
</script>

<style scoped lang="scss">
.results_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: #112226;
  height: 60px;

  .result_ball {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;

    &.correct, &.incorrect {
      color: white;
    }

    &.correct {
      background: rgb(15, 157, 88);
    }

    &.incorrect {
      background: rgb(219, 68, 55);
    }
  }
}
</style>