<template>
  <div class="final_results">
    <h2>Resultados finales</h2>
    <span class="lom_message" v-if="answer_questions_ok < 5">Decision de LOM: la humanidad será aniquilada</span>
    <span class="lom_message" v-if="answer_questions_ok >= 5">Decision de LOM: la humanidad vivirá</span>
    <div class="result" v-for="question in questions">
      <span class="question">{{ question.question }}</span>
      <span class="ind_result" :class="{correct: question.is_good, incorrect: !question.is_good}">
      {{
          question.is_good ? question.user_answer : !question.is_good && question.user_answer ? question.user_answer
              : `No hubo respuesta. La respuesta correcta es: ${question.answer}`
        }}
    </span>
    </div>
    <button @click="cleanAndBack">Volver a jugar</button>
  </div>
</template>

<script>
import {useStore} from "vuex";
import {computed} from "vue";

export default {
  name: "ResultsFinal",
  props: {
    returnHome: Function
  },
  setup(props) {
    const store = useStore()
    let questions = computed(() => store.state.questions)
    let answer_questions_ok = store.state.questions.filter(item => item.is_good).length

    const cleanAndBack = () => {
      store.commit('clearData')
      props.returnHome()
    }

    return {
      questions, cleanAndBack, answer_questions_ok
    }
  }
}
</script>

<style scoped lang="scss">
.final_results {
  background: linear-gradient(0deg, rgba(46, 123, 133, 1) 0%, rgba(12, 59, 64, 1) 100%);
  padding: 30px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  .lom_message {
    color: dodgerblue;
  }

  h2 {
    color: white;
    text-align: center;
  }

  .result {
    color: #bebebe;
    padding-bottom: 20px;

    .question {
      display: block;
      padding: 10px 0;
    }

    .ind_result {
      &.correct {
        color: rgb(15, 157, 88);
      }

      &.incorrect {
        color: rgb(219, 68, 55);
      }
    }
  }

  button {
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px 15px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    background: #73363b;
  }
}
</style>