<template>
  <Home v-if="!startedGame" :startGame="startGame"/>
  <Header v-if="startedGame && !final"/>
  <Question v-if="startedGame && !final" :showFinal="showFinal"/>
  <ResultsFooter v-if="startedGame && !final"/>
  <ResultsFinal v-if="startedGame && final" :returnHome="returnHome"/>
</template>

<script>
import Question from "./components/Question";
import ResultsFooter from "./components/ResultsFooter";
import ResultsFinal from "./components/ResultsFinal";
import Header from "./components/Header";
import Home from "./components/Home";

import {ref} from "vue";

export default {
  name: 'App',
  components: {
    Home,
    Header,
    ResultsFinal,
    ResultsFooter,
    Question
  },
  setup() {
    let startedGame = ref(false)
    let final = ref(false)

    const startGame = () => {
      startedGame.value = true
    }

    const showFinal = () => {
      final.value = true
    }

    const returnHome = () => {
      final.value = false
      startedGame.value = false
    }

    return {
      startedGame, startGame, final, showFinal, returnHome
    }
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
}
</style>
